.register {
    background-color: antiquewhite;
    width: 350px;
    border: 5px solid black;
    padding: 25px;
    margin: 25px;
    color: darkred;
    margin-left: auto;
    margin-right: auto;

}

input[type=text],input[type=password], input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.cancelbtn {
    width: auto;
    padding: 10px 20px;
    background-color: #f44336;
}
#password_id:hover {
    border-style: double;
    border-color: red;
}
#username_id:hover {
    border-style: double;
    border-color: red;
}
[data-tip] {
    position:relative;

}
[data-tip]:before {
    content:'';
    /* hides the tooltip when not hovered */
    display:none;
    content:'';
    display:none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid brown;
    position:absolute;
    top:30px;
    left:35px;
    z-index:8;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
    position:absolute;
    top:30px;
    left:35px;
    z-index:8;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}
[data-tip]:after {
    display:none;
    content:attr(data-tip);
    position:absolute;
    top:35px;
    left:0px;
    padding:5px 8px;
    background:brown;
    color:#fff;
    z-index:9;
    font-size: 1em;
    height:20px;
    line-height:20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space:nowrap;
    word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
    display:block;
}

input:required:invalid, input:focus:invalid {
    background-image: url("../images/falsch.png");
    background-position: right ;
    background-repeat: no-repeat;
    border-color: darkred;

}
input:required:valid {
    background-image: url("../images/richtig.png");
    background-position: right ;
    background-repeat: no-repeat;
    border-color: green;

}