#start-background {
    background-image: url("../images/zug.png");
    width: 1100px;
    height: 733px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#hase {
    position: relative;
    left: 660px;
    top: 222px;
    z-index: 2;
    cursor: pointer;


}

#karte {
    position: relative;
    left: 280px;
    top: -480px;
    cursor: pointer;

}

#buch {
    position: relative;
    top: -170px;
    left: 200px;
    cursor: pointer;
}

