<!DOCTYPE html>

<html>

    <head>

        <title>Sir Phileas' Reise</title>

        <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
            <!-- main style -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main_style.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/welcome_style.css")">
        <link rel="shortcut icon"  href="@routes.Assets.versioned("images/favicon16.png") ">


    </head>

    <body>
            <!-- header image -->
        <img id="header-image" src="@routes.Assets.versioned("images/header.png")">
        <br><br><br>

            <!-- Hase  mit Sprechblase -->
        <div id="welcome-screen">
            <div id="welcome">
                <img id="welcome-sprechblase" src="@routes.Assets.versioned("images/welcomeBubble.png")">
                <img  id="welcome-hase" src="@routes.Assets.versioned("images/hase.png")">

            </div>

            <!-- Buttons -->
            <div id="buttons">
                <a href="login"> <img src="@routes.Assets.versioned("images/b-anmelden.png")"></a>
                    <br><br><br>
                <a href="register"> <img src="@routes.Assets.versioned("images/b-registrieren.png")"></a>
            </div>
        </div>



    </body>

</html>